{% load static %}
<link rel="stylesheet" href="/css/Common/reviewList.css">
<div class="reviewList outer">
    <div class="reviewList inner">
        <div class="filter">
            <div class="filters outer">
                <form action="/" method="GET">
                    {% if search == None %}
                    <input type="text" name="search" id="search" placeholder="Browse Our Catalogue">
                    {% else %}
                    <input type="text" name="search" id="search" placeholder="Browse Our Catalogue" value="{{search}}">
                    {% endif %}
                    <div class="dropDown category">
                        <select name="category" id="category">
                            <option value="all" {% if category == 'all' %}selected{% endif %}>All Categories</option>
                            <option value="misc" {% if category == 'misc' %}selected{% endif %}>Misc</option>
                            <option value="tech" {% if category == 'tech' %}selected{% endif %}>Tech</option>
                            <option value="fashion" {% if category == 'fashion' %}selected{% endif %}>Fashion</option>
                        </select>
                    </div>
                    <div class="dropDown sort">
                        <select name="sort" id="sort">
                            <option value="newest" {% if sort == 'newest' %}selected{% endif %}>Newest</option>
                            <option value="oldest" {% if sort == 'oldest' %}selected{% endif %}>Oldest</option>
                            <option value="lessLikes" {% if sort == 'lessLikes' %}selected{% endif %}>Less Likes To More</option>
                            <option value="moreLikes" {% if sort == 'moreLikes' %}selected{% endif %}>More Likes To Less</option>
                        </select>        
                    </div>
                    <div class="dropDown followed">
                        <select name="followed" id="followed">
                            <option value="all" {% if followed == 'all' %}selected{% endif %}>All Users</option>
                            <option value="followed" {% if followed == 'followed' %}selected{% endif %}>Followed Users</option>
                        </select>
                    </div>
                    <button type="submit" class='search'>Search</button>
                </form>
            </div>
        </div>
        <div class="reviews">
            {% for review in reviewObjects %}
            {% comment %} Like id for like button reference {% endcomment %}
            <article class="review outer" id='{{review.id}}' href='/review/{{review.id}}' onclick='redirectToReview(event, "/review/{{review.id}}")'>
                <div class="review inner">
                    <div class="image" style="background-image: url('{%static ''%}{{review.image}}')"></div>
                    <div class="itemInfo">
                        <h3  id='like_{{review.id}}'>{{review.title}}</h3>
                        <div class="innerInfo">
                            <a  href='{{review.itemLink}}' target='_blank' class='meta productName'>{{review.productName}}</a>
                            <span class='meta category'>{{review.itemCategory}}</span>
                            <a class='username' href='/account/{{review.createdByUser_Key.id}}' target='_blank'>by <span class='innerUser'>{{review.createdByUser_Key.username}}</span></a>
                        </div>
                        <p class="meta overview">{{review.textField}}</p>
                        <div class="buttons">
                            <form onsubmit='handleLike(event, "{{review.id}}", "{{review.userLiked}}", "{{request.user.is_authenticated}}")'>
                                {% if not review.userLiked %}
                                <button type="submit" class='displayOn'>
                                    <div  class='upvote normal' style='background-image: url("/css/Media/heartOff.png")'></div>
                                    <div  class='upvote alternate' style='background-image: url("/css/Media/heartOn.png")'></div>
                                    <span>{{review.likeCount}}</span>
                                </button>
                                {% else %}
                                <button type="submit"  class='normal displayOff'>
                                    <div  class='upvote normal' style='background-image: url("/css/Media/heartOn.png")'></div>
                                    <div  class='upvote alternate' style='background-image: url("/css/Media/heartOff.png")'></div>
                                    <span>{{review.likeCount}}</span>
                                </button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    {% comment %} Adding an invisible anchor tag for SEO crawlers {% endcomment %}
                    <a href="/review/{{review.id}}" style='display:none;'>SEO CRAWLER HELPER</a>
                </div> 
            </article>
            {% endfor %}
        </div>
        {% comment %} <div class="pagination">
            {% comment %} Should insert the previous filters into the url using payload
            {% if pagination.displayPrev %}
            <a href="{{pagination.prevPageURL}}" class='prev'>Prev Page</a>
            {% endif %}
            <span>Page: {{pageNumber}}</span>
            <a href="{{pagination.nextPageURL}}" class='next'>Next Page</a>
        </div> {% endcomment %}
    </div>
</div>
<script defer>
</script>
<script defer>
    const redirectToReview = (e, redirectLink) => {
        clickedElement = e.target
        if(!clickedElement.classList.contains('productName') && !clickedElement.classList.contains('username') && !clickedElement.classList.contains('innerUser') && clickedElement.closest('.buttons')==null){
            window.location.href = redirectLink
        }
    }
    const handleLike = async(e, reviewID, userLiked, userLoggedIn) => {
        e.preventDefault()
        // checking whether the user is request.user.is_authenticated
        if(userLoggedIn==='False'){
            window.location.href = '/login'
            return
        }
        // checking whether the alternate or normal
        originalUserLiked = userLiked
        if(e.target.classList.contains('alternate')){
            userLiked = userLiked === 'True' ? 'False' : 'True'
        }
        const formData = new FormData()
        formData.append('reviewID', reviewID)  
        formData.append('userLiked', userLiked) 
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        const response = await fetch('/likecontrol', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: formData
        })
        const data = await response.json()
        if(data.success){
            e.target.classList.toggle('alternate')
            spanElement = e.target.querySelector('span')
            currLikes = parseInt(spanElement.innerText)
            if(originalUserLiked === 'True'){
                if(e.target.classList.contains('alternate')){
                    spanElement.innerText = currLikes -1
                }else{
                    spanElement.innerText = currLikes +1
                }
            }else{
                if(e.target.classList.contains('alternate')){
                    spanElement.innerText = currLikes +1
                }else{
                    spanElement.innerText = currLikes -1
                }
            }
        }
    }
</script>
<style>

</style>