section#new{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    & form{
        width: 90%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 3px #AAAAAA;
        box-sizing: border-box;
        padding: 40px 5%;
        & h1{
            font-size: 1.5em;
            font-weight: 500;
            margin-bottom: 30px
        }
        & .inputContainer{
            display: flex; flex-direction: column;
            margin-bottom: 20px;
            & label{
                margin-bottom: 15px;
            }
            & input, & textarea{
                width: 100%;
                box-sizing: border-box;
                padding: 10px;
                border: 2px solid #DDDDDD;
                border-radius: 5px;
                line-height: 1.9;
            }
            & span{
                color: red;
                &.off{display: none;}
                font-size: 0.8em;
                margin-top: 10px
            }
            & select{
                border-radius: 5px;
                background-color: #EEEEEE;
                cursor: pointer;
                width: fit-content;
                padding:15px  20px;
                &:hover{background-color: #CDCDCD;}
                & option{
                    background-color: #EEEEEE;
                }
            }
        }
        & .reviewBody{
            & textarea{resize: vertical; height: 150px}
        }
        & .reviewOverview{
            & textarea{height: 70px; resize: none}
        }
        & .reviewRating{
            & input{width: 10%;}
        }
        & .reviewImage{
            position: relative;
            z-index: 0;
            & input{
                width: fit-content;
                border: 0; padding: 0;
                // opacity: 0;
                // cursor: pointer;
            }
        }
        & .reviewVideoID{
            & .checkbox{
                width: fit-content;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                & label{
                    width: 100px;
                    margin: 0;
                    margin-right: 10px;
                    font-size: 0.9em;
                    font-weight: 500;
                }
                & input{
                    width: fit-content;
                }
            }
        }
        & > button{
            display: flex;
            color: white;
            font-weight: 500;
            box-sizing: border-box;
            padding: 20px 30px;
            background-color: #2f59ff;
            margin: 40px 0;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 10px;
            &:hover{
                opacity: 0.9;
            }
        }
        & > span.error{
            color: red;
            font-size: 0.8em;
            &.off{display: none;}
        }
    }
}