{% extends '../layout.html' %}
{% load static  %}
{% block body%}
<link rel="stylesheet" href="/css/Account/account.css">
<section id="account" class='center'>
    <div class="innerAccount">
        <div class="profile">
            <div class="profImage" style='background-image: url("{% static ''%}{{userObject.image}}")'></div>
            <div class="stats">
                <div class="row top">
                    <h2>{{userObject.username}}</h2>
                    {% if not userObject.isEqual and request.user.is_authenticated %}
                        {% if userObject.following %}
                        <form action="/follow" class="form" method='POST'>
                            {% csrf_token %}
                            <input type="hidden" value='True' name='isRemove'>
                            <input type="hidden" value='{{userObject.id}}' name='followTo_ID'>
                            <button class='following' type='submit'>Following</button>
                        </form>
                        {% else %}
                        <form action="/follow?remove=False" class="form" method='POST'>
                            {% csrf_token %}
                            <input type="hidden" value='False' name='isRemove'>
                            <input type="hidden" value='{{userObject.id}}' name='followTo_ID'>
                            <button class='follow' type='submit'>Follow</button>
                        </form>
                        {% endif %}
                    {% elif userObject.isEqual and request.user.is_authenticated %}
                    <button class="edit" onclick='toggleModal()'>Edit Profile</button>
                    {% endif %}
                </div>
                <div class="row two">
                    <span class='posts'> {{userObject.numReviews}} <span class="inner">review{% if userObject.numReviews != 1 %}s{% endif %}</span></span>
                    <span class='followers'> {{userObject.numFollowers}} <span class="inner">follower{% if userObject.numFollowers != 1 %}s{% endif %}</span></span>
                    <span class='following'> {{userObject.numFollowing}} <span class="inner">following</span></span>
                    <span class='likes'> {{userObject.likeCount}} <span class="inner">like{% if userObject.likeCount != 1 %}s{% endif %}</span></span>
                </div>
                <div class="row three">
                    <h3>About</h3>
                    <p>{{userObject.bioText}}</p>
                </div>
            </div>
        </div>
    </div>
    {% if userObject.isEqual %}    
    <div class="options">
        <h3>Account Options</h3>
        <div class="logout row">
            <p>Logout of your account.</p>
            <a href="/logout" class='center'>Logout</a>
        </div>
        <div class="logout row">
            <p>Delete your account. This action is permanent and cannot be reversed.</p>
            <form action='/deleteUser' method='POST'>
                {% csrf_token %}
                <input type="hidden" name='userID' value='{{userObject.id}}'>
                <button class='center first' type='submit'>Delete Account</button>
            </form>
        </div>
    </div>
    {% endif %}
    <div class="editProfile center off">
        <div class="inner">
            <h2>Edit Profile</h2>
            <form onsubmit='event.preventDefault(); updateUserProfile(event)'>
                {% csrf_token %}
                <input type="hidden" name="userID" value="{{userObject.id}}">
                <div class="row">
                    <label for="username">Username</label>
                    <input type="text" name='username' id='username' value='{{userObject.username}}' required>
                    <p class="nameError error off">* Username must be under 50 charachters</p>
                </div>
                <div class="row">
                    <label for="About">About</label>
                    <textarea name="About" required>{{userObject.bioText}}</textarea>
                    <p class="aboutError error off">* About must be less than 200 charachters</p>
                </div>
                <div class="row">
                    <label for="image">Profile Image</label>
                    <input type="file" name='image' class='image' id='image'>
                </div>
                <div class="buttons">
                    <button class="cancel" onclick='event.preventDefault(); toggleModal()'>Cancel</button>
                    <button type='submit'>Save</button>
                </div>
            </form>
        </div> 
    </div>
</section>
<script defer>
    const toggleModal = () => {
        const modal = document.querySelector('.editProfile');
        modal.classList.toggle('off');
    }
    const updateUserProfile = async(e, userID) => {
        // removing all errors
        document.querySelector('.nameError').classList.contains('off') ?  null : document.querySelector('.nameError').classList.add('off') ;
        document.querySelector('.aboutError').classList.contains('off') ? null : document.querySelector('.aboutError').classList.add('off');
        //get form data into a json object
        const formData = new FormData(e.target);
        const data = {};
        for (const [key, value] of formData.entries()) {
            data[key] = value;
        }
        // checking whether data is accepatble
        if (data.username.length > 50) {
            document.querySelector('.nameError').classList.remove('off');
            return;
        }
        if (data.About.length > 200) {
            document.querySelector('.aboutError').classList.remove('off');
            return;
        }
        console.log('done')
        const resData = fetch('/editProfile', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': data.csrfmiddlewaretoken,
                'Content-Type': 'multipart/form-data',
                'credebility': 'include'
            },
            body: formData
        })
        const response = await resData;
    }
</script>
<style>
</style>
{% endblock %}