{% extends '../layout.html' %}
{% load static  %}
{% block body%}
<link rel="stylesheet" href="/css/Account/account.css">
<section id="account" class='center'>
    <div class="innerAccount">
        <div class="profile">
            <div class="profImage" style='background-image: url("{% static ''%}{{userObject.image}}")'></div>
            <div class="stats">
                <div class="row top">
                    <h2>{{userObject.username}}</h2>
                    {% if not userObject.isEqual %}
                        {% if userObject.following %}
                        <form action="/follow" class="form" method='POST'>
                            {% csrf_token %}
                            <input type="hidden" value='True' name='isRemove'>
                            <input type="hidden" value='{{userObject.id}}' name='followTo_ID'>
                            <button class='following' type='submit'>Following</button>
                        </form>
                        {% else %}
                        <form action="/follow?remove=False" class="form" method='POST'>
                            {% csrf_token %}
                            <input type="hidden" value='False' name='isRemove'>
                            <input type="hidden" value='{{userObject.id}}' name='followTo_ID'>
                            <button class='follow' type='submit'>Follow</button>
                        </form>
                        {% endif %}
                    {% else %}
                    <button class="edit">Edit Profile</button>
                    {% endif %}
                </div>
                <div class="row two">
                    <span class='posts'> {{userObject.numReviews}} <span class="inner">review{% if userObject.numReviews != 1 %}s{% endif %}</span></span>
                    <span class='followers'> {{userObject.numFollowers}} <span class="inner">follower{% if userObject.numFollowers != 1 %}s{% endif %}</span></span>
                    <span class='following'> {{userObject.numFollowing}} <span class="inner">following</span></span>
                    <span class='likes'> {{userObject.likeCount}} <span class="inner">like{% if userObject.likeCount != 1 %}s{% endif %}</span></span>
                </div>
                <div class="row three">
                    <h3>About</h3>
                    <p>{{userObject.bioText}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}