<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="main-content">
        <div class="sidebar">
            <div class="top-video">
                <p>Top video</p>
                <img src="" alt="" class="vid" />
            </div>
            <div class="second-video">
                <p>Second video</p>
                <img src="" alt="" class="vid" />
            </div>
            <div class="third-video">
                <p>Third video</p>
                <img src="" alt="" class="vid" />
            </div>
        </div>
        <div class="mid-content">
            <div class="ctd">
                <div class="daybox timebox"></div>
                <div class="hourbox timebox"></div>
                <div class="minutebox timebox"></div>
                <div class="secondbox timebox"></div>
            </div>
            <div class="flex-product flexed">
                <div class="product-info">
                    <div class="container-info">
                        <img src="" alt="" class="bgimg-product" />
                        <h2>Description</h2>
                        <p class="price">Original price: 100$</p>
                        <p class="discounted-price">
                            Discounted price: <span class="strikethrough"><s>80$</s></span>
                        </p>
                    </div>
                </div>

                <div class="rules">Rules</div>
            </div>
            <div class="aps">
                <p>Prize <span class="bold">200$</span></p>
            </div>
        </div>
    </div>
</body>

</html>