section#review{
    margin-bottom: 30px;
    & .reviewInner{
        width: 100%;
        display: flex; flex-direction: column;
        & .title{
            display: flex; flex-direction: column;
            & h1{
                font-size: 2em;
                font-weight: 500;
            }
            & .meta{
                margin-top: 5px;
                font-size: 0.8em;
                & *{font-size: inherit;}
                & a.username{
                    text-decoration: underline;
                    cursor: pointer;
                    &:hover{color: #333333;}
                }
            }
            margin-bottom: 30px;
        }
    }
}
section#review .reviewContent{
    width: 100%;
    display: flex;
    position: relative;
    & .image{
        position: sticky; z-index: 0;
        top: 110px;
        height: 35vw; width: 40%;
        max-height: 600px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        flex-shrink: 0;
        margin-right: 30px;
        box-shadow: 0 0 5px #AAAAAA;
        background-color: #EEEEEE
    }
    & .innerContent{
        flex-grow: 1;
        // flex-shrink: 0;
        display: flex; flex-direction: column;
        & h1{
            font-size: 2em;
            margin-bottom: 20px;
        }
        & .reviewInfo{
            width: fit-content;
            display: flex;flex-direction: column;
            & h3{
                font-size: 1.5em;
                margin-bottom: 15px;
            }
            & .userInfo{
                margin-bottom: 20px;
                display: flex; align-items: center;
                & .imageContainer{
                    width: 50px; height: 50px; 
                    border-radius: 9999px;
                    background-color: #AAAAAA;
                    margin-right: 10px;
                    background-position: center; background-size: cover; background-repeat: no-repeat;
                }
                & span{
                    text-decoration: none;
                    font-weight: 500;
                }
            }
            & ul{
                min-width: 250px;
                border-radius: 10px;
                background-color: white;
                box-shadow: 0 0 3px #AAAAAA;
                padding: 20px 20px;
                & li{
                    display: flex; align-items: center;
                    margin-bottom: 10px;
                    &:last-of-type{margin-bottom: 0;}
                    & .imageContainer{
                        display: flex; align-items: center; justify-content: center;
                        overflow: hidden;
                        height: 20px; width: 20px;
                        margin-right: 20px;
                        & img{
                            height: 100%;
                        }
                    }
                    & p{
                        display: inline-flex;
                        font-size: 0.9em;
                        font-weight: 400;
                    }
                }
            }
        }
        & .reviewText{
            display: flex; flex-direction: column;
            width: 100%;
            margin-top: 20px;
            & .title{
                width: 100%;
                display: flex; align-items: center;
                flex-direction: row;
                margin-bottom: 20px;
                & h3{
                    font-size: 1.5em;
                }
            }
            & p{
                line-height: 1.9;
                margin-bottom: 20px;
            }
            & .buttonContainer{
                display: flex; align-items: center;
                margin-bottom: 20px;
                & > *{margin-right: 10px;}
                & form{
                    width: fit-content;
                    & button{
                        justify-content: center;
                        display: flex; align-items: center;
                        & .heart{
                            margin-right: 10px;
                            background-repeat: no-repeat; background-size: cover; background-position: center;
                            height: 30px; width: 30px;
                        }
                        & span{
                            font-weight: 500 !important;
                        }
                    }
                }
                & button, & a{
                    width: 100px;
                    height: 40px; border-radius: 5px;
                    background-color: #DDDDDD;
                    font-weight: 500;
                    &:hover{
                        opacity: 0.9;
                    }
                    cursor: pointer;
                }
            }
        }
    }
}

section#review .reviewContent .commentList{
    width: 100%;
    display: flex; flex-direction: column;
    & h3{
        font-size: 1.5em;
        margin-bottom: 30px;
    }
    & form{
        width: 100%;
        display: flex; flex-direction: column;
        align-items: flex-start;
        & textarea{
            width: 100%;
            height: 80px;
            resize: none;
            border-radius: 10px;
            // border: 2px solid #AAAAAA;
            box-shadow: 0 0 3px #AAAAAA;
            margin-bottom: 20px;
            padding: 15px;
            box-sizing: border-box;
            line-height: 1.9;
            font-size: 1em;
            &:focus{outline: 2px solid rgb(0, 72, 255);}
        }
        & button{
            padding: 15px;
            background-color: #2f59ff;
            color:white;
            border-radius: 5px;
            font-weight: 500;
            cursor: pointer;
            &:hover{
                opacity: 0.9;
            }
        }
    }
    & > p{
        & a{text-decoration: underline;}
    }
    & .commentsContainer{
        width: 100%;
        margin-top:  50px;
        display: flex; flex-direction: column;align-items: flex-start;
        & .comment{
            width: 100%;
            margin-bottom: 20px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 3px #AAAAAA;
            box-sizing: border-box;
            padding: 15px;
            &:last-of-type{margin-bottom: 0}
            & h4{
                display: flex; align-items: center;
                margin-bottom: 10px;
                & .commentPic{
                    height: 30px; width: 30px;
                    border-radius: 9999px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-right: 10px;
                    border: 1px solid #CCCCCC;
                }
                & span{
                    font-weight: 500;
                    font-size: 0.9em;
                }
            }
            &>p{
                line-height: 1.9;
            }
        }
    }
}