header{
    width: 100%;
    position: fixed; top: 0; left: 0; z-index: 999;
    height: 60px;
    background-color: white;
    box-shadow: 0 0 3px #AAAAAA;
}
header .headerInner{
    height: 100%;
    width: 90%;    max-width: 2000px;
    display: flex; align-items: center;    
    & > *{height: 100%}
    & .logo{
        &>*{height: 100%; }
        & a{
            height: 100%; 
            font-size: 1.1em; font-weight: 600;
            &:hover{
                color: #333333;
            }
        }

    }
    & nav{
        height: 100%;
        margin-left: auto;
        & *{height: 100%;}
        & ul{display: flex;}
        & a{
            height: 100%; box-sizing: border-box;
            margin: 0 20px;
            min-width: 50px;
            font-weight: 600;
            display: flex; justify-content: center; align-items: center;
            border-bottom: 3px solid white;
            &:hover{
                border-bottom: 3px solid #750497;
                color: #750497;
            }
        }
        // & li:first-of-type a{padding-left: 0;}
        // & li:last-of-type a{padding-right: 0;}
    }
}