{% extends '../layout.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="/css/Review/review.css">
<section id="review">
    <div class="reviewInner">
        <div class="title">
            {% comment %} <h1>{{reviewObject.title}}</h1> {% endcomment %}
            {% comment %} <div class="meta">
                by <a href='/account/{{reviewObject.createdByUser_Key.id}}' class='username'>{{reviewObject.createdByUser_Key.username}}</a> at <span class="date">{{reviewObject.dateCreated|date:"M d, Y, h:m a"}}</span>
            </div> {% endcomment %}
        </div>
        <div class="reviewContent">
            <div class="image" style='background-image: url("{%static ''%}{{reviewObject.image}}")'></div>
            <div class="innerContent">
                <h1>{{reviewObject.title}}</h1>
                <div class="reviewInfo">
                    {% comment %} <h3>Details</h3> {% endcomment %}
                    <div class="userInfo">
                        <a class="imageContainer" style='background-image: url("{%static ''%}{{reviewObject.createdByUser_Key.image}}")' href="/account/{{reviewObject.createdByUser_Key.id}}"></a>
                        <span>{{reviewObject.createdByUser_Key.username}}</span>
                    </div>
                    <ul class="list">
                        <li>
                            <div class="imageContainer"><img src="/css/Media/item.png" alt=""></div>
                            <p>{{reviewObject.productName}}</p>
                        </li>
                        <li>
                            <div class="imageContainer"><img src="/css/Media/tag.png" alt=""></div>
                            <p>{{reviewObject.itemCategory}}</p>
                        </li>
                        <li>
                            <div class="imageContainer"><img src="/css/Media/clock.png" alt=""></div>
                            <p>{{reviewObject.dateCreated}}</p>
                        </li>
                        <li>
                            <div class="imageContainer"><img src="/css/Media/rating2.png" alt=""></div>
                            <p>{{reviewObject.rating}}/10</p>
                        </li>
                    </ul>
                </div>
                <div class="reviewText">
                    {% comment %} Will put the like id here {% endcomment %}
                    <div class="title" id='like_{{reviewObject.id}}'>
                        <h3>Review</h3>
                    </div>
                    <p>{{reviewObject.textField}}</p>
                    <div class="buttonContainer">
                        <form onsubmit='handleLike(event, "{{reviewObject.id}}", "{{reviewObject.userLiked}}", "{{request.user.is_authenticated}}")'>
                            {% if not reviewObject.userLiked %}
                            <button type="submit" class='displayOn'>
                                <div  class='upvote normal' style='background-image: url("/css/Media/heartOff.png")'></div>
                                <div  class='upvote alternate' style='background-image: url("/css/Media/heartOn.png")'></div>
                                <span>{{reviewObject.likeCount}}</span>
                            </button>
                            {% else %}
                            <button type="submit"  class='normal displayOff'>
                                <div  class='upvote normal' style='background-image: url("/css/Media/heartOn.png")'></div>
                                <div  class='upvote alternate' style='background-image: url("/css/Media/heartOff.png")'></div>
                                <span>{{reviewObject.likeCount}}</span>
                            </button>
                            {% endif %}
                        </form>
                        <a href="{{reviewObject.videoID}}" class='video center'>Watch</a>
                        <a href="{{reviewObject.itemLink}}" class='item center'>Buy Now</a>
                    </div>
                </div>
                <div class="commentList">
                    <h3>Comments</h3>
                    {% if request.user.is_authenticated %}                    
                    <form id="newComment" onsubmit='formSubmit(event, "{{reviewObject.id}}")'>
                        {% csrf_token %}
                        <textarea name="" placeholder='Write a Comment' required ></textarea>
                        <button type="submit">Submit</button>
                    </form>
                    {% else %}
                    <p><a href="/login">Login</a> or <a href="/register">register</a> to leave a comment.</p>
                    {% endif %}
                    <div class="commentsContainer">
                        {% for commentObject in commentObjects %}
                            <div class="comment">
                                <h4>
                                    <a class="commentPic" style='background-image: url("{%static ''%}{{commentObject.createdByUser_Key.image}}")' href="/account/{{commentObject.createdByUser_Key.id}}"></a>
                                    <span>{{commentObject.createdByUser_Key.username}}</span>
                                </h4>
                                <p>{{commentObject.textField}}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
</style>
<script defer>
    const formSubmit = async(e, reviewID) => {
        e.preventDefault()
        const commentBody = e.target.querySelector('textarea').value
        const payload = {
            reviewID: reviewID,
            commentBody: commentBody
        }
        try{
            const res = await fetch("{% url 'newComment' %}", {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    "X-CSRFToken": '{{csrf_token}}'
                    },
                method: "POST",
                credentials: "same-origin",
                body: JSON.stringify(payload)
            })
            const data = await res.json()
            if(data.success){
                e.target.querySelector('textarea').value = ''
                window.location.reload()
            }else{
                null
            }
        }catch(e){
            console.log(e)
        }
    }
    const handleLike = async(e, reviewID, userLiked, userLoggedIn) => {
        e.preventDefault()
        // checking whether the user is request.user.is_authenticated
        if(userLoggedIn==='False'){
            window.location.href = '/login'
            return
        }
        // checking whether the alternate or normal
        originalUserLiked = userLiked
        if(e.target.classList.contains('alternate')){
            userLiked = userLiked === 'True' ? 'False' : 'True'
        }
        const formData = new FormData()
        formData.append('reviewID', reviewID)  
        formData.append('userLiked', userLiked) 
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        const response = await fetch('/likecontrol', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: formData
        })
        const data = await response.json()
        if(data.success){
            e.target.classList.toggle('alternate')
            spanElement = e.target.querySelector('span')
            currLikes = parseInt(spanElement.innerText)
            if(originalUserLiked === 'True'){
                if(e.target.classList.contains('alternate')){
                    spanElement.innerText = currLikes -1
                }else{
                    spanElement.innerText = currLikes +1
                }
            }else{
                if(e.target.classList.contains('alternate')){
                    spanElement.innerText = currLikes +1
                }else{
                    spanElement.innerText = currLikes -1
                }
            }
        }
    }
</script>
{% endblock body %}