{% extends '../layout.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="/css/Review/review.css">
<section id="review" class='center'>
    <div class="reviewInner">
        <div class="title">
            <h1>{{reviewObject.title}}</h1>
            <div class="meta">
                by <a href='/account/{{reviewObject.createdByUser_Key.id}}' class='username'>{{reviewObject.createdByUser_Key.username}}</a> at <span class="date">{{reviewObject.dateCreated|date:"M d, Y, h:m a"}}</span>
            </div>
        </div>
        <div class="reviewContent">
            <div class="image" style='background-image: url("{%static ''%}{{reviewObject.image}}")'></div>
            <div class="innerContent">
            </div>
        </div>
    </div>
</section>
{% endblock body %}