{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/Auth/auth.css">
</head>
<body class='center'>
    {% if login %}
    <form action="/loginUser" method='POST'>
    {% else %}
    <form action="/registerNewUser" method='POST' class='register'>
    {% endif %}
    {% csrf_token %}
        <h1>Styrate</h1>
        <input type="text" placeholder='Username' required name='username'>
        {% if not login %}
        <input type="text" placeholder='Email' required name='email'>
        {% endif %}
        <input type="text" placeholder='Password' required name='password'>
        {% if not login %}
        <input type="text" placeholder='Re-enter Password' required name='repassword'>
        {% endif %}
        {% comment %} Error message {% endcomment %}
        {% if error %}
        <p class='error'>*{{error}}</p>
        {% endif %}
        {% if login %}
        <button type="submit">Login</button>
        <a href="/register" class='center'>Register Instead</a>
        {% else %}
        <button type="submit">Register</button>
        <a href="/login" class='center'>Login Instead</a>
        {% endif %}
    </form>
</body>
<style>
    body{background-color:#fff}body form{width:300px;background:#fff;border-radius:10px;display:flex;flex-direction:column;box-shadow:0 0 3px #aaa;padding:30px 30px}body form.register{width:400px}body form h1{text-align:center;width:100%;font-size:1.5em;margin-bottom:40px;font-weight:500}body form input{margin-bottom:20px;box-sizing:border-box;padding:15px 10px;height:50px;border:2px solid #bbb;border-radius:5px}body form input:last-of-type{margin-bottom:0}body form button{margin-top:20px;background-color:#2f59ff;color:#fff;font-weight:500;height:50px;padding:0 20px;border-radius:5px;cursor:pointer;margin-bottom:10px}body form button:hover{opacity:.9}body form a{background-color:#ddd;height:50px;font-weight:500;border-radius:5px;cursor:pointer}body form a:hover{background-color:#ccc}body form .error{color:red;font-weight:500;margin-top:10px}
</style>
</html>